<ion-view view-title="ADD NEW RECORDING">
  <ion-content class="padding">
    <img ng-src="{{srcImage}}" id="srcImage" width="250" height="250" style="display: block; margin: 0 auto;" />
    <button class="button button-block button-positive" ng-click="takePicture()">
        Add Photo
    </button>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Song Name</span>
        <input type="text" ng-model="recordingInfo.songName">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" ng-model="recordingInfo.songDescription">
      </label>
      <button class="button button-block button-balanced" ng-click="openModal()">
          Add Recording
      </button>
      <button class="button button-block button-assertive" ng-click="post()">
          Post
      </button>

  </ion-content>
</ion-view>