<ion-view view-title="HOME">

  <ion-content class="padding">

    <ion-list>
      <!-- display all songs in order by time with the newest on top, remove them if the hide propery is true, trigger action sheet on click -->
      <div class="list ng-hide" ng-repeat="song in songs | orderBy: '-timeStamp'" ng-click="triggerActionSheet(song)"  ng-hide="song.hide">

        <div class="item item-avatar">
          <img ng-src={{bandInfo.photoURL}}>
          <h2>{{song.songName}}</h2>
        </div>

        <div class="item item-image">
          <img ng-src={{song.imageURL}}>
        </div>

        <!-- show individual totals for thumbs up and down -->
        <a class="item assertive">
          {{song.vote.up}}
          <i class="icon ion-thumbsup"></i>
          {{song.vote.down}}
          <i class="icon ion-thumbsdown"></i>
        </a>

      </div>

    </ion-list>

  </ion-content>
  
</ion-view>