<ion-view view-title="HOME">
  <ion-content class="padding">
    <ion-list>

        <img class="user_photo" ng-src="{{bandInfo.photoURL}}"/>
        <div class="user_name">
          <h1>{{bandInfo.bandName}}</h1>
        </div>

        <div class="list">
        
          <a class="item item-icon-left">
            <i class="icon dark ion-ios-mic"></i>
            Posts
            <span class="badge badge-calm">{{recordings.length}}</span>
          </a>

          <a class="item item-icon-left">
            <i class="icon dark ion-person-stalker"></i>
            Followers
            <span class="badge badge-calm">{{followers.length}}</span>
          </a>

          <a class="item item-icon-left">
            <i class="icon dark ion-ios-checkmark-outline"></i>
            Number of Votes
            <span class="badge badge-calm">{{votes.length}}</span>
          </a>
          
          <a class="item item-icon-left">
            <i class="icon dark" ng-class="voteTotal > 0 ? 'ion-thumbsup' : 'ion-thumbsdown'"></i>
            Vote Total
            <span class="badge" ng-class="voteTotal > 0 ? 'badge-calm' : 'badge-assertive'">{{ voteTotal }}</span>
          </a>
        
        </div>

      
    </ion-list>
  </ion-content>
</ion-view>