<ion-view view-title="HOME">

  <ion-content class="padding">

    <ion-list>

      <img class="user_photo" ng-src="{{fanInfo.photoURL}}" />
      <div class="user_name">
        <h1>{{fanInfo.fanName}}</h1>
      </div>

      <!-- sow all songs by bands liked, ordered with the most recently posted on top -->
      <div class="list" ng-repeat="song in filteredRecordings | orderBy: '-timeStamp'">

        <div class="item item-avatar">

          <img ng-src={{song.photoURL}}>

          <div style="display:inline-block">

            <h2 ng-click="unfollowPopUp(song)">{{song.bandName}}</h2>
            <p>{{song.songName}}</p>

          </div>

          <!-- display a star to favorite a track, displays as an empty star if not favorited and a filled in star if favorited -->
          <a class="icon-right item-icon"  ng-click="favorite(song)" style="display:inline-block">
            <i class="icon dark" ng-class="song.favorite ? 'ion-ios-star' : 'ion-ios-star-outline'"></i>
          </a>

        </div>

        <div class="item item-image">
          <img ng-src={{song.imageURL}}>
        </div>

        <div class="item">

          <a class="item-icon dark" ng-click="togglePlay(song.recordingURL)" style="display:inline-block">
            <i class="icon ion-music-note"></i>
            Start listening
          </a>

          <!-- thumbsup / thumbsdown icons for up and down voting - will display as dark if the vote matches the appropriate value -->
          <a class="icon-right item-icon" ng-class="song.vote === -1 ? 'dark' : 'subdued'" ng-click="vote(song.id, -1)" style="display:inline-block">
            <i class="icon ion-thumbsdown"></i>
          </a>
          <a class="icon-right item-icon" ng-click="vote(song.id, 1)" ng-class="song.vote === 1 ? 'dark' : 'subdued'" style="display:inline-block">
            <i class="icon ion-thumbsup"></i>
          </a>

        </div>

      </div class="list">

    </ion-list>

  </ion-content>

</ion-view>