<ion-view view-title="HOME">
  <ion-content class="padding">
    <ion-list>

      <img class="user_photo" ng-src="{{fanInfo.photoURL}}" />
      <div class="user_name">
        <h1>{{fanInfo.fanName}}</h1>
      </div>

      <div class="list" ng-repeat="song in filteredRecordings | orderBy: '-timeStamp'">
        <div class="item item-avatar">
          <img ng-src={{song.photoURL}}>
          <h2>{{song.bandName}}</h2>
          <p>{{song.songName}}</p>
        </div>

        <div class="item item-image">
          <img ng-src={{song.imageURL}}>
        </div>
        <div class="item">
          <a class="item-icon assertive" ng-click="togglePlay(song.recordingURL)" style="display:inline-block">
            <i class="icon ion-music-note"></i>
            Start listening
          </a>
          <a class="icon-right item-icon" ng-class="song.vote === -1 ? 'assertive' : 'calm'" ng-click="vote(song.id, -1)" style="display:inline-block">
            <i class="icon ion-thumbsdown"></i>
          </a>
          <a class="icon-right item-icon" ng-click="vote(song.id, 1)" ng-class="song.vote === 1 ? 'assertive' : 'calm'" style="display:inline-block">
            <i class="icon ion-thumbsup"></i>
          </a>
        </div>
      </div class="list">
    </ion-list>
  </ion-content>
</ion-view>