<ion-view view-title="SEARCH FOR BAND">
  <ion-content class="padding">
      <div class="bar bar-subheader">
      </div>
            <div class="button-bar">
                <a class="button" ng-class="{'button-positive': isActive('followed')}" ng-click="setActive('followed'); query.bandName = ''">Followed</a>
                <a class="button" ng-class="{'button-positive': isActive('all')}" ng-click="setActive('all'); query.bandName = ''">Show All</a>
                <a class="button" ng-class="{'button-positive': isActive('unfollowed')}" ng-click="setActive('unfollowed'); query.bandName = ''">Unfollowed</a>
            </div>
    <label class="item item-input item-floating-label">
      <span class="input-label">Search for Bands</span>
      <input type="text" placeholder="Search for Bands" ng-model="query.bandName">
    </label>
    <ion-list>


        <ion-item class="item item-thumbnail-left" ng-repeat="band in bandTable | filter: query | favoriteFilter:active">
            <img ng-src="{{band.photoURL}}" style="border-radius:50%">
            <h2>{{band.bandName}}</h2>
            <p>{{band.location}}</p>

        <ion-option-button class="button-calm" ng-click="showDetail(band)">
        Details
        </ion-option-button>
        <ion-option-button ng-if="!band.followed" class="button-positive" ng-click="follow(band)">
        Follow
        </ion-option-button>
        <ion-option-button ng-if="band.followed" class="button-assertive" ng-click="unfollow(band)">
        Unfollow
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
